### OSX ###
.DS_Store
.AppleDouble
.LSOverride

### SublimeText ###
# cache files for sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# workspace files are user-specific
*.sublime-workspace

# project files should be checked into the repository, unless a significant
# proportion of contributors will probably not be using SublimeText
# *.sublime-project

# sftp configuration file
sftp-config.json

# Basics
*.py[cod]
__pycache__

# Logs
logs
*.log
pip-log.txt
npm-debug.log*

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
htmlcov

# Pycharm
.idea/*

# Vim
*~
*.swp
*.swo

# npm
node_modules/
bower_components/

# Stuff
kronoscms
fabfile.py

# Compass
.sass-cache

# virtual environments
.env

# Project CSS


# User-uploaded media
media/
staticfiles/

.tmp
build
yarn.lock

#geoip dbs
GeoLite2-City.mmdb
GeoLite2-Country.mmdb
GeoLite2-City.mmdb.gz
GeoLite2-Country.mmdb.gz

fabfile.py
dump.rdb
*.dump
