{% extends "base.html" %}

{% block title %}404 - Page Not found{% endblock %}

{% block content %}
<section id="main" role="main">

  <!-- START jumbotron -->
  <section class="jumbotron" style="min-height:325px;">
    <!-- pattern overlay -->
    <div class="pattern overlay"></div>
    <!--/ pattern overlay -->
    <div class="container text-center" style="padding-top:7%;">
      <img src="{% static 'image/logo/vaina-cacao.png' %}" alt="Vaina Cacao">
      <h1 class="text-white text-uppercase">Caja de herramientas para cacao</h1>
      <h4 class="text-white">Aprendiendo e innovando sobre el cacao en sistemas agroforestales</h4>
    </div>
  </section>
  <!--/ END jumbotron -->
  <div class="container-fluid">
    <!-- START Row -->
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <h1>Solicitud incorrecta</h1>
        <p>No se pudo entender y procesar la solicitud.</p>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
