{% extends "base.html" %}
{% block content %}
    <div class="about">
        <div class="container contsmall">
            <div class="row">
                <div class="text-center">
                    <h2>ACERCA DE</h2>
                    <div class="divgris"></div>
                </div>
                <div class="col-sm-12">
                    <p><strong>Gu&iacute;as para Caf&eacute;</strong>, por una caficultura rentable y competitiva, son una herramienta t&eacute;cnica y digital formativa, que tiene el prop&oacute;sito de generar una mayor cobertura en asistencia t&eacute;cnica e informaci&oacute;n did&aacute;ctica a los productores de caf&eacute; en el pa&iacute;s y la regi&oacute;n.</p>

                    <p>Consta de 18 Cartillas t&eacute;cnicas formativas e ilustradas, creadas por el Instituto Hondure&ntilde;o del Caf&eacute; (<a href="http://ihcafe.hn"><strong>IHCAFE</strong></a>) con el propósito de que el sector productor de cafédisponga de una herramienta útil en sus fincas. En alianza con Lutheran World Relief (<a href="https://lwr.org/where-we-work/honduras"><strong>LWR</strong></a>) se ha adaptado la versi&oacute;n web y m&oacute;vil de las cartillas, tomando como referencia la caja de herramientas de Cacao M&oacute;vil. Se distribuyen bajo licencia.</p>
                    <br><br>
                </div>
                <div class="col-sm-6 col-md-6">
                     <img class="img-responsive" src="{% static 'img/acerca-de.jpg' %}" style="width: 100%;" />
                </div>
                <div class="cm-sm-6 col-md-6">
                    {{ about.informacion_bienvenida|safe }}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block extra_footer %}
<script type="text/javascript">
    $( document ).ready(function() {
        $('.topmenu .about-menu').addClass('active'); 
    });
</script>
{% endblock extra_footer %}
